@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Notable&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  background-color: white !important;
}

/* Services.css */
:root {
  --primary-color: #1a1a1a;
  --secondary-color: #55605c;
  --accent-color: #07A9E5;
  --light-bg: #f8f8f8;
  --white: #ffffff;
  --primary-dark: #ffffff;
  --secondary-dark: #55605c;
  --gold-primary: #07A9E5;
  --gold-secondary: #07A9E5;
  --gold-light: #07A9E5;
  --light-text: #838887;
  --transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  --ease-out: cubic-bezier(0.23, 1, 0.32, 1);
}